<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/axios.js"></script>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <main>
          <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="product in catalogue">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
        </tr>
    </tbody>
</table>
            <h1>Add a New Product</h1>

<fieldset>
    <legend>Product Details</legend>
    <form @submit.prevent="addProduct()">
        <label>ID:</label><input type="text" v-model="product.id">
        <label>Name:</label><input type="text" v-model="product.name">
        <label>Description:</label><input type="text" v-model="product.description">
        <button>Add New Product</button>
    </form>
</fieldset>
            
        </main>
<!--        <div> TODO write content</div> -->
        <script type="module" src="js/catalogue.js"></script>
    </body>
</html>
